<form action="">
  <h2 class="text-center">Заказ</h2>
  <div class="form-group">
    <input type="text" [(ngModel)]="trip.trip_adress_a"  name="trip_adress_a" class="form-control" id="addressA" placeholder="Откуда">
  </div>

  <div class="form-group">
    <input type="text"  [(ngModel)]="trip.trip_adress_b" name="trip_adress_b" class="form-control" id="addressB" placeholder="Куда">
  </div>

  <div class="form-group">
    <input type="tel"  class="form-control" id="Telephone" placeholder="Телефон">
  </div>
  <div class="car-types">
    <div class="car-types__title">
      <h3>
        Тариф:
      </h3>
    </div>
    <div class="car-types__list flex-wrap">
      <div class="car-types__item" (click)="this.tarif='eco'" [ngClass]="this.tarif==='eco' ? 'activeTarif': '' " >
        <div class="car-types__img"><img src="assets/img/cars/eco.png" alt="car econom"></div>
        <div class="car-types__description">
          <p> Эконом</p>
        </div>
        <div class="car-types__price">
          <p>{{this.prices[0].price}}</p>
        </div>
      </div>

      <div (click)="this.tarif='komfort'"  [ngClass]="this.tarif==='komfort' ? 'activeTarif': '' "  class="car-types__item">
        <div class="car-types__img"><img src="assets/img/cars/comfort.png" alt="car comfort"></div>
        <div class="car-types__description">
          <p> Комфорт</p>
        </div>
        <div class="car-types__price">
          <p>{{this.prices[3].price}}</p>
        </div>
      </div>

      <div (click)="this.tarif='children'"  [ngClass]="this.tarif==='children' ? 'activeTarif': '' " class="car-types__item">
        <div class="car-types__img"><img src="assets/img/cars/children.png" alt="car childen"></div>
        <div class="car-types__description">
          <p> Детский</p>
        </div>
        <div class="car-types__price">
          <p>{{this.prices[1].price}}</p>
        </div>
      </div>

      <div (click)="this.tarif='dost'" [ngClass]="this.tarif==='dost' ? 'activeTarif': '' "  class="car-types__item">
        <div class="car-types__img"><img src="assets/img/cars/dostavka.png" alt="car doztavka"></div>
        <div class="car-types__description">
          <p> Доставка</p>
        </div>
        <div class="car-types__price">
          <p>{{this.prices[2].price}}</p>
        </div>
      </div>

      <div  (click)="this.tarif='gruz'" [ngClass]="this.tarif==='gruz' ? 'activeTarif': '' " class="car-types__item">
        <div class="car-types__img"><img src="assets/img/cars/gruz.png" alt="car gruz"></div>
        <div class="car-types__description">
          <p> Грузовой</p>
        </div>
        <div class="car-types__price">
          <p>{{this.prices[4].price}}</p>
        </div>

      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary mx-auto d-block my-2" (click)="send()">Заказать</button>
</form>
