<form action="">
  <h2 class="text-center">Информация о заказе</h2>

  <div class="alert alert-secondary" role="alert">
    Откуда
  </div>
  <div class ="mx-auto d-inline-block" >
    <img src="assets/img/Arrow.png"   alt="arrow">
  </div>

  <div class="alert alert-secondary" role="alert">
    Куда
  </div>

  <div class="order-description ">
    <div class="order-description__item ">374р</div>
    <div class="order-description__item ">Оплата наличными</div>
    <div class="order-description__item ">Эконом</div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary mx-auto d-block my-2">Поехали</button>
    <button type="button" class="btn btn-primary mx-auto d-block my-2">Другой</button>
  </div>




</form>

